@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
  max-height: 280px;
  min-height: 150px;
  justify-content: center;
}

.img-detail {
  width: 100%;
  max-height: 350px;
  min-height: 280px;
}

.card {
  transition: 0.3s ease all;
}
.card:hover {
  scale: 103%;
}

.loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #be123c);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
